body {
    margin: 0;
    height: 100%;
    background: #25274D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

div {
    margin: 0;
    padding: 0;
}

.title-div{
    background: #AAABB8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-container
{
    position: relative;
    width: 500px;
    height: 500px;
    padding-top: 300px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
}

.hat {
    z-index: 1;
    transform: rotate(180deg);
    object-fit: contain;
}

.bunny {
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}

.bunny.show {
    opacity: 1;
    pointer-events: auto;
    animation: move 2s forwards;
}

@keyframes move {
    to {
        transform: translate(0px, -300px);
    }
}